.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-width: 38.75rem;
  max-width: 162.5rem;
  height: 100vh;
  margin-inline: auto;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr; // 버튼을 위한 공간 추가
  align-items: center;
  padding-top: 1.25rem;
  padding-inline: 2.5rem;

  .logo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 20px;

    &--img {
      aspect-ratio: 1 / 1;
      width: 8.125rem;
      display: block;
    }

    &--text {
      font-family: "PyeongChangPeace-Light";
      font-size: 3rem;
      font-weight: 400;
      // text-align: right;
      margin-bottom: 8%;
    }
  }

  .camera-buttons {
    display: grid;
    gap: 0.4vw;
    margin-left: auto;

    .camera-button {
      padding: 0.5rem 1rem;
      border: 1px solid rgb(0.21, 50.42, 225.59);
      border-radius: 99px;
      background-color: transparent;
      color: rgb(0.21, 50.42, 225.59);
      font-size: 0.875rem;
      font-weight: 400;
      cursor: pointer;

      &.selected {
        background-color: rgb(0.21, 50.42, 225.59);
        color: #fff;
      }
    }
  }
}

.cam_grid--section {
  overflow: hidden;
  height: 100%;
  display: grid;

  &--container {
    overflow-y: auto;
    display: grid;
    max-height: 100%;
    margin-block: auto;
    padding-inline: 2.5rem;
    grid-template-columns: repeat(4, 1fr); //필요 시 수정
    gap: 0.8vw;

    &--filter {
      aspect-ratio: 364 / 242; // ← 16/9 대신 364/242로 변경
      border-radius: 0.25rem;
      border: 2px solid rgb(63.84, 117.94, 245.48);
      overflow: hidden;
    }

    &--filter:hover {
      cursor: pointer;
      border-color: rgb(0.21, 50.42, 225.59);
    }
  }
}

.footer {
  padding-inline: 2.5rem;
  padding-bottom: 2rem;

  p {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-block: 1.25rem;
  }
}
