.overlay {
  position: absolute;
  line-height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.overlay--progress {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}
.overlay--button {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  background: rgb(255, 255, 255);
  color: rgb(22.71, 69.44, 193.6);
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 6.1875rem;
  pointer-events: auto;
  cursor: pointer;
}
.overlay--countdown {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 140px;
  font-weight: 700;
  line-height: 100%;
  color: rgb(22.71, 69.44, 193.6);
  opacity: 0.8;
  text-shadow: 0 0 0.625rem #fff;
  pointer-events: none;
}
.overlay--flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: flash 0.2s ease-out;
  pointer-events: none;
}

@keyframes flash {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}