.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-top: 40px;
  padding-inline: 40px;
  min-width: 620px;
  max-width: 2400px;
  height: 100%;
  margin-inline: auto;
}

.cam_grid {
  display: grid;
  width: 100%;
  height: auto;
  max-height: calc(100vh * .8);
  margin-top: 30px;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  overflow-y: auto;

  &--filter {
    aspect-ratio: 4 / 3;
    border-radius: 10px;
    overflow: hidden;
  }

  &--filter:hover {
    cursor: pointer;
  }
}